@model GarageMVC.ViewModels.GarageOverviewViewModel

@{
    ViewData["Title"] = "Overview";
}



<div class="jumbotron">
    <h1>Garage Overview</h1>
    <h4>Currently parked vehicles</h4>
</div>
<hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleTypes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleTypes)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleBrands)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleBrands)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleColors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleColors)
        </dd>
    </dl>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumOfAllWheels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumOfAllWheels)
        </dd>
    </dl>


<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
